# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment and setup
.env
.venv
.env.local
.env.development
.env.test
.env.production
*.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# MongoDB
data/
*.mongodb

# Pther
.coverage
htmlcov/
.pytest_cache/
.tox/
coverage.xml
*.cover